<div class="row">
    <div class="col-3">
        <button type="button" class="btn btn-light">В</button>
    </div>
    <div class="col-9">
        <h2>Меню</h2>
    </div>
</div>
<hr>
<div class="col-12">
    <a href="/" class="btn btn-outline-primary text-white border-0">&#127968 Главная
    </a>
    <button type="button" class="btn btn-outline-primary text-white border-0">&#128230 Категории
    </button>
    <a href="/products/" class="btn btn-outline-primary text-white border-0">&#128218 Товары
    </a>
    <button type="button" class="btn btn-outline-primary text-white border-0">&#128467 Заказы
    </button>
    <a href="/contacts/" class="btn btn-outline-primary text-white border-0">&#9742 Контакты
    </a>
</div>