{% extends 'catalog/base.html' %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-1">
    {% for object in object_list %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h6 class="card-text">{{ object.category_name }}</h6>
                <h6 class="card-text">{{ object.category_description }}</h6>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <a href="{% url 'category_product' object.pk %}" class="btn btn-outline-secondary border-1">View
                            </a>
                            <a href="{% url 'update_product' object.pk %}" class="btn btn-outline-secondary border-1">Edit
                            </a>
                            <a href="{% url 'delete_product' object.pk %}" class="btn btn-outline-secondary border-1">Delete
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}