{% extends 'catalog/base.html' %}
{% load static %}
{% load tags_filters %}
{% block title %} Products {% endblock title %}
{% block content %}

<div class="col" style="margin-top:40px">
    <div class="row">
        <h2 align="center">Главная</h2>
        <p class="text-muted" align="center">Вы находитесь на сайте предназначенном для продажи товаров</p>
        {% for object in object_list %}
        <div class="col-4">
            <div class="card text-center">
                <div class="card-header">
                    <h4>{{ object.product_name }}</h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ object.price }}</h3>
                    <p class="card-text">{{ object.product_description }}</p>
                    <div class="d-grid gap-2">
                        <button class="btn btn-outline-primary" type="button">Купить</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

